<p id="poem,-title"><%= @poem.title %></p>
<p id="poem-title"><%= @poem.poet %></p>
<p id="poem-title"><% simple_format(@poem.content) %></p>

<%= content_tag "div", id: "token", data: {token: @token } do %>
<% end %>
 <%= button_tag "Speak to me", id: "keillorbot" %>


