    <div class="col-md-12">
      <h2 id="daily-matches-headline">Your Daily Matches</h2>
    </div>

    <div class="col-md-12">
      <ul id="daily-matches">
        <% @user_poems_with_summary.each do |ups| %>
          <li>
            <h4><%= link_to "#{ups[0].title}", poem_path(ups[0].id) %></h4>
            <p><%= "By #{ups[0].poet}" %> | <%= "#{ups[1]}" %></p>
            <br>
          </li>
        <% end %>
    </div>

