/* line 1, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/poems.css.scss */
#poem-title, #poem-poet, #poem-body {
  display: inline-block;
  margin-left: 100px;
}

/* line 8, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/poems.css.scss */
#keillorbot {
  background: none;
  border: none;
  padding-top: -10px;
}

/* line 15, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/poems.css.scss */
.poem-word {
  font-size: 1.2em;
}
