/* line 5, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/user_poems.css.scss */
#daily-matches {
  list-style-type: none;
}

/* line 9, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/user_poems.css.scss */
#match-summary {
  position: relative;
  left: 50px;
  top: 50px;
}

/* line 16, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/user_poems.css.scss */
#daily-matches-headline {
  margin-left: 35px;
}
