/* line 1, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/welcome.css.scss */
#markov-diagram {
  float: left;
}

/* line 5, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/welcome.css.scss */
#garfield-markov {
  margin: 20px;
}

/* line 9, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/welcome.css.scss */
.code-sample {
  width: 500px;
  margin: 20px;
}

/* line 14, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/welcome.css.scss */
.frontsite {
  font-size: 1.2em;
}

/* line 18, /Users/alexpatriquin/projects/poem_today/app/assets/stylesheets/welcome.css.scss */
.frontsite-link {
  text-decoration: underline !important;
}
