/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
$font-stack: "Cardo";
$maroon: #90220D;

p, div, li, a, h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack !important;
}

a { 
    text-decoration: none !important;
    color: #000001;

    &:visited, &:hover, &:active {
    color: $maroon;
    }
}

body {
    background-image:url('bg-grit.jpg');
}

#redstripe{
    background: $maroon;
    height: 5px;
    display:none;
}

#logo-png {
    margin-top: -26px;
}

#brand {
    font-color: $maroon;
    display: inline-block;
}

#signin_nav_links {
  float: right;
  margin-top: 30px;
  font-size: 1.2em;
}


.fa {
    color: $maroon;
    vertical-align: 0;
}

/*footer*/

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
    font-style: italic;
    font-height: .5em;
    color: grey;
    float: right;
    padding: 40px 10px 0 0;
}









/*flash*/

.notice-spacer {
    height: 75px;
}

.pt-alert-container{
  text-align: center;
  width: 40%;
  margin: auto;
  display: none;
}

.pt-alert{
  list-style-type: none;
}

$alert: #FDEFEC;

.alert-error, .alert-alert, .alert-success, .alert-notice {
    background-color: $alert;
 }