/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

$font-stack: "Old Standard TT";

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}
p, div {
    font-family: $font-stack;
}

#redstripe {
    height: 5px;
    background-color: #90220D;
}

#navbar {
    height: 50px;
    background-color: #444;

}

#body {
    background-image:url('bg-grit.jpg');
}

#poem-bg {
  float: right;

}


#poem-body {
width: 75%;
margin: 100px auto;
    p, div {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 1em;
    }

}
// Gentium Book Basic





#signin_nav_links {
  float: right;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }