#poem-title, #poem-poet, #poem-body  {
    display: inline-block;
    margin-left: 150px;
}

#poem-body {}

#keillorbot {
    background: none;
    border: none;
    padding-top: -10px;
}


#poem-word {}

#poem-image {}