#poem-title  {
    display: inline;
}

#poem-body {
  display: block;
}

#keillorbot {
    background: none;
    border: none;
    padding-top: -10px;
}


.poem-word {
  font-size: 1.2em;
}

#poem-image {
  float: right;
}


@media (min-width: 768px) { 
  #poem-image {
  margin-right: 5%;
  }
}