#markov-diagram {
  float: left;
}

#garfield-markov {
  margin: 20px;
}

.code-sample {
  width: 500px;
  margin: 20px;
}

.frontsite {
  font-size: 1.2em;
}

.frontsite-link {
  text-decoration: underline !important;
}